<div style="font-family: ui-sans-serif, system-ui, sans-serif; color: #0f172a;">
  <p>Haz clic en el siguiente enlace para restablecer tu contraseña. El enlace expirará en 24 horas.</p>
  <p><%= link_to "Restablecer contraseña", edit_password_url(@reset_token) %></p>
</div>
