<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Restablecer Contraseña</title>
  </head>
  <body>
    <h1>¿Olvidaste tu contraseña?</h1>
    <p>Hola <%= @user.email_address %>,</p>
    <p>Recibimos una solicitud para restablecer tu contraseña. Haz clic en el siguiente enlace:</p>
    <p>
      <%= link_to "Restablecer mi contraseña", edit_password_url(@reset_token) %>
    </p>
    <p>Este enlace expirará en 24 horas.</p>
    <p>Si no solicitaste esto, puedes ignorar este correo.</p>
    <hr>
    <p>Saludos,<br>El equipo de la aplicación</p>
  </body>
</html>